& {
  #nav-icon {
    width: 40px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #000000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #nav-icon span:nth-child(1),
  #nav-icon span:nth-child(2) {
    top: 0px;
  }

  #nav-icon span:nth-child(3),
  #nav-icon span:nth-child(4) {
    top: 10px;
  }

  #nav-icon span:nth-child(5),
  #nav-icon span:nth-child(6) {
    top: 20px;
  }

  #nav-icon.open span:nth-child(1),
  #nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon.open span:nth-child(2),
  #nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #nav-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 17px;
  }

  #nav-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 17px;
  }

  #nav-icon {
    float: right;
    margin-top: 10px;

  }

  header,
  main,
  footer {
    overflow-x: hidden;
  }

  .menu {
    display: none;
    text-align: center;

    li {
      display: block;
      margin-bottom: 30px;
    }
  }

  .menu li a span {
    text-align: center;
  }

  br {
    display: none;
  }

  .head-img img {
    width: 100%;
  }

  .article_1 {
    padding: 60px 0;
  }

  .h2-title {
    font-size: 24px;
    font-size: 20px;
  }

  .article_1-item {
    margin-top: 30px;

    .img {
      min-height: inherit;
    }
  }

  .article_1-item .title:before {
    content: '';
    width: 100%;
    height: 63px;
    border-radius: 30px;
    border: 3px solid #fa042d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .article_1-item .title.border:before {
    width: 100%;
  }

  .article_2-img {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    img {
      max-height: 35vh;
      max-width: 100%;
    }
  }

  .article_2_bottom p,
  .article_3-info,
  .programs-info,
  .price-top p {
    font-size: 16px;
  }

  .order-btn {
    padding: 19px 25px;
  }

  .article_3-img {
    text-align: center;

    img {
      max-height: 35vh;
      max-width: 100%;
    }
  }

  .programs-item {
    padding: 65px 30px;

    &:before {
      width: 20px;
    }
  }

  .programs-item .title span {
    font-size: 16px;
  }

  .price-item .top {
    font-size: 22px;
  }

  .price-item {
    padding: 50px 30px;
  }

  .price-item:before {
    width: calc(100% - 25px);
  }

  .price-item {
    margin-bottom: 30px;
  }

  .graph table tr th:first-child {
    width: inherit;
  }

  .graph table tr th {
    font-size: 14px;
  }

  .graph table tr td {
    font-size: 12px;
  }

  .graph table tr td,
  .graph table tr th {
    padding: 25px 12px;
  }

  .graph table:before {
    height: 70px;
  }

  .graph table {
    margin-top: 30px;
  }

  .timer {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }

  .timer div {
    width: 38px;
  }

  .timer span {
    display: inline-block;
    color: #000;
    font-family: Futura;
    font-size: 30px;
    font-weight: 800;
    line-height: 21.53px;
  }

  .text-right {
    text-align: center;
  }

  .xs-first {
    -ms-flex-order: -1;
    order: -1;
  }

  img {
    max-width: 100%;
  }

  .timer1 {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .free_bonus {
    padding: 54px 15px;
    font-size: 16px;
  }

  .free_bonus {
    p {
      b {
        br {
          display: block;
        }
      }
    }
  }

  .free_bonus-img {
    text-align: center;

    img {
      max-height: 30vh;
    }
  }

  .reviews-item {
    height: inherit;
  }

  .reviews-slider {
    padding-left: 0;
    padding-right: 0;
  }

  .reviews-item span {
    height: inherit;
    min-height: 340px;
    margin: 0;
  }

  .reviews-slider {
    margin-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 20px;

    &:after {
      content: "";
      background: url('../images/sw.svg') no-repeat center;
      width: 35px;
      height: 35px;
      background-size: 100%;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .speaker-slider {
    &:after {
      content: "";
      background: url('../images/sw.svg') no-repeat center;
      width: 35px;
      height: 35px;
      background-size: 100%;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);

    }

    padding-bottom: 60px;
    position: relative;
  }

  .speaker-item .title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
  }

  .speaker-img {
    text-align: center;

    img {
      max-height: 50vh;
    }
  }

  .smi-list li {
    display: inline-block;
    margin: 20px;
    max-width: 21%;
  }

  .smi-list {
    margin: 20px auto 30px;
  }

  .faq-item {
    display: block;
    text-align: center;
  }

  .faq-item .faq-img {
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .results_bottom-item {
    margin-bottom: 0;
  }

  .results_bottom-item .img {
    text-align: center;
    min-height: inherit;

    img {
      max-height: 35vh;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .results_bottom-item .title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .footer {
    text-align: center;
  }

  .footer-menu {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-item {
    float: none;
    margin-top: 30px;
  }

  .head-item h1 {
    font-size: 55px;
  }

  .container,
  .results .container,
  .free_bonus {
    max-width: 480px;
  }

  .reviews {
    .container {
      max-width: 100%;
    }
  }


  .price_pay h1 {
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;
    padding: 17px 5px;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .price_pay-item {
    font-size: 18px;
    text-align: center;

    &.old {
      font-size: 16px;
    }
  }

  .price_pay h2 {
    font-size: 15px;
    line-height: 1.2;
  }

  .price_pay {
    padding: 30px 0 0;
    margin-bottom: 20px;
  }

  .header-form h2 {
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .head {
    padding: 95px 0 0;

    &.pay {
      padding-bottom: 60px;
    }
  }

  .menu li {
    margin-left: 0;
    margin-right: 0;
  }

  .nav {
    padding: 10px 0;
  }

  .head-img {
    margin-top: 30px;
  }

  .article_1-item .title {
    font-size: 20px;
  }

  .article_3-title {
    font-size: 19px;
  }

  .article_3-list li {
    font-size: 17px;
  }

  .price-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
  }

  .price-item ul li {
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .results-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .programs-item .title {
    margin-bottom: 28px;
    font-size: 20px;
}
  .speaker-item ul li {
    font-size: 16px;
    margin-bottom: 15px;
}
  .faq-content {
    font-size: 16px;
  }
  .results_bottom-item p, .programs-item ul li, .article_2-list li, .article_1-item p {
    font-size: 16px;
  }
  .programs {
    .h2-title {
      font-size: 30px;
    }
  }
  .graph {
    padding-top: 0;
  }
  .results {
    padding-bottom: 30px;
  }
}