@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

.modal {
  display: none;
  padding: 5vw;
  max-width: 768px;
}


.footer {
background-image: linear-gradient(-83deg, #6173f1 0%, #fbdffd 100%);
  padding: 62px 0;
  position: relative;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    a {
      color: #393838;
      font-family: Circe;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 5px;
    }
  }
}

.phone {
  color: #393838;
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  display: block
}

.mess {
  margin: 0 2px;
  display: inline-block;
  vertical-align: middle;
  transition: .2s;
  &:hover {
    transform: scale(.97);
  }
}

.footer-item {
  text-align: center;
  .title {
    color: #393838;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 17px;
  }
  img {
    margin: 0 7.5px;
  }
}



.pay-item {
  max-width: 682px;
  border: 6px solid rgba(148, 125, 194, 0.17);
  background-color: #fbfbfb;
  border-radius: 3px;
  padding: 35px 0;
  text-align: center;
  h1 {
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.4px;
    margin-bottom: 25px;
  }
  form {
    
    label {
      display: block;
      width: 100%;
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.7px;
      margin-bottom: 15px;
      text-align: left;
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
      input {
        width: 100%;
        display: block;
        border: 3px solid #ece3fc;
        border-radius: 3px;
        color: #000;
        font-size: 17px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.9px;
        padding: 15px 19px;
        &::placeholder {
          color: #e1e0e0;
        }
      }
    }
  }
  .intl-tel-input {
    width: 100%;
  }
}

.pay-pack {
  margin-top: 25px;
  margin-bottom: 35px;
  .title {
    color: #947eed;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.5px;
//    background-color: #947eed;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pay-price {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.2px;
  }
}

.pay_timer-title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.2px;
  margin-top: 55px;
  margin-bottom: 25px;
}

.pay-nav {
  background: 0 0 !important;
  position: absolute !important;
  border: 0 !important;
  
}

.logo {
  svg {
    fill: #3945c6;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px 0;
  background-image: linear-gradient(to right, #fbdffd 0%, #6173f1 100%);
  z-index: 999;
  width: 100%;
  transition: .3s;
  &.fixed {
    padding: 5px 0;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  li {
    display: inline-block;
    margin: 0 25px;
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      color: #000000;
      font-family: "Circe";
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      transition: .3s;
      &:hover {
        color: #ebebeb;
      }
      &.reg {
        color: #000000;
        font-family: "Circe";
        font-size: 16px;
        line-height: 1;
        padding: 6px 34px;
        border: 2px dashed #ebebeb;
        &:hover {
          background: #ebebeb;
        }
      }
    }
      span {
        display: block;
        font-weight: 600;
        font-size: 10px;
        line-height: 1;
        text-align: left;
      }
  }
}

.header {
  margin-top: 63px;
  padding-top: 28px;
  padding-bottom: 40px;
  .container{
  position: relative;
      &:before {
    content: "";
    background: url('../images/hbgb.png') no-repeat center;
    width: 585px;
    height: 247px;
    position: absolute;
    bottom: -100px;
    left: -80px;
  }
  }
  .order-btn {
      .arr_right {
        background: url('../images/3refs.png') no-repeat center;
        width: 100px;
        height: 54px;
        position: absolute;
        right: -114px;
        top: -13px;
      }
  }
}

.header-item {
  p {
    color: #000000;
    font-family: "Circe";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 25px;
    b {
      font-weight: 600;
    }
  }
  h1 {
    color: #07384f;
    font-family: Impact;
    font-size: 100px;
    font-weight: 400;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 30px;

  }
}

.header-date {
  margin-top: 15px;
  p {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 4px;
    svg {
      display: inline-block;
      margin-right: 22px;
      vertical-align: middle;
    }
  }
  margin-bottom: 60px;
  
}

.order-btn {
  color: #ffffff;
  font-family: "Circe";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  box-shadow: 4px 3px 12px 1px rgba(33, 51, 176, 0.44);
  background-color: #6173f1;
  display: inline-block;
  transition: .3s;
  text-align: center;
  cursor: pointer;
  position: relative;
border: 0;
  .text {
    padding: 16px 30px;
    display: block;
    position: relative;
    overflow: hidden;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 45px;
        height: 140%;
        transform: rotate(25deg);
        background-color: rgba(33, 51, 176, 0.3);
        top: -15%;
        right: 120%;
        animation: glare 4s ease-in-out infinite;
    }
  }
  &:hover {
    color: #fff;
    transform: translateY(5%);
    box-shadow: 4px 3px 12px 1px rgba(33, 51, 176, 0);
  }
  .arr_left {
    background: url('../images/arr_left.png') no-repeat center;
    width: 87px;
    height: 47px;
    position: absolute;
    top: -8px;
    left: -98px;
  }
  .arr_right{
    background: url('../images/arr_right.png') no-repeat center;
    width: 87px;
    height: 47px;
    position: absolute;
    top: -8px;
    right: -98px;
  }
}

@keyframes glare {
    from {
        right: 120%
    }

    20%,to {
        right: -45%
    }
}


.header-img {
  img {
    float: right;
  }
}

main {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.header-bottom {
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
  border: 11px solid #6173f1;
  padding: 28px;
  color: #000000;
  font-family: "Circe";
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 70px;
  span {
    display: block;
    color: #6173f1;
    font-size: 72px;
    font-weight: 700;
    line-height: 0.5;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    margin-bottom: 20px;
  }
}

.section_1 {
  background-color: rgba(238, 238, 255, .45);
  padding: 50px 0;
  .h2-title {
    position: relative;
    z-index: 4;
    display: inline-block;
    &:before {
      content: "";
      width: 287px;
      height: 10px;
      background-color: #fbdffd;
      position: absolute;
      bottom: 10px;
      left: 90px;
      z-index: -1;
    }
  }
}

.text-center {
  text-align: center;
}

.h2-title {
  color: #000000;
  font-family: Pobeda;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  z-index: 2;
   &:before {
      content: "";
      width: 80%;
      height: 10px;
      background-color: #fbdffd;
      position: absolute;
      bottom: 10px;
      left: -17px;
      z-index: -1;
    }
  
}

.section_1-item {
  margin-top: 90px;
  max-width: 386px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  p {
    border-top: 7px solid #fbdffd;
    text-align: center;
    color: #000000;
    font-family: "Circe";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    padding-top: 30px;
    margin-bottom: 20px;
    
  }
}

.section_2 {
  padding-top: 60px;
  padding-bottom: 80px;
}

.section_2-img {
  width: 583px;
  text-align: center;
  position: relative;
  z-index: 5;
  &:before {
    content: "";
    background: url('../images/s2bg.png') no-repeat center;
    width: 604px;
    height: 604px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -302px 0 0 -302px;
    animation: rotate_circle 50s linear infinite;
    z-index: 1;
  }
  &:after {
    content: '';
    background: url('../images/34refd.png') no-repeat center;
    width: 885px;
    height: 733px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
  }
}
    @keyframes rotate_circle {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }


.section_2-item {
  p {
    color: #000000;
    font-family: "Circe";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 25px;
  }
}

.subtitle {
  color: #000000;
font-family: "Circe";
font-size: 24px;
font-weight: 400;
line-height: 1.25;
  margin-bottom: 50px;
}

.section_3-item {
  max-width: 435px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .svg {
    width: 189px;
    height: 186px;
    position: relative;
    padding-top: 42px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url('../images/bg2ws.png') no-repeat center;
    margin-bottom: 30px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;
      &:nth-child(2) {
        z-index: 1;
        top: calc(50% - 3px);
        left: calc(50% - 5px);
        fill: rgba(97, 115, 241, .38);
      }
    }
  }
  .title {
    color: #000000;
    font-family: "Circe";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  p {
    color: #000000;
    font-family: "Circe";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 25px;
  }
}

.section_3 {
  padding: 60px 0;
}

.section_4 {
  padding: 60px 0;
  background-color: rgba(239, 246, 255, .8);
  text-align: center;
  p {
    color: #000000;
    font-family: "Circe";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 70px;
  }
  .h3 {
    color: #000000;
    font-family: "Circe";
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 60px;
  }
}

.programs {
  padding: 80px 0;
  background: url('../images/programs_bg.png') no-repeat center top;
  background-size: cover;
}

.section_5 {
  padding: 60px 0;
}

.section_5-item {
  max-width: 348px;
  min-height: 512px;
  background-image: linear-gradient(to top, #93a1ff 0%, #ffffff 100%);
  padding: 64px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .img {
    height: 289px;
    text-align: center;
        display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 38px;
  }
  p {
    color: #000000;
    font-family: "Circe";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 0;
  }
}
b {
  font-weight: 600;
}

.format-img {
  img {
    float: right;
  }
}

.format-item {
  margin-bottom: 30px;
  img {
    width: 53px;
    margin-right: 15px;
  }
  .title {
    margin-bottom: 15px;
    color: #000000;
    font-family: Pobeda;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
  }
  p {
    color: #000000;
    font-family: "Circe";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 0;
    span {
      color: #d93232;
      font-weight: bold;
    }
  }
}

.format {
  padding: 60px 0;
  background-color: rgba(234, 233, 238, .43);
//  margin-bottom: 75px;
  .h2-title {
    margin-bottom: 40px;
  }
  .order-btn {
    margin-top: 80px;
  }
}

.section_6 {
  padding: 70px 0;
  .h2-title {
    &:before {
      bottom: inherit;
      top: 20px;
    }
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
@keyframes pulsate{50%{color:#fff;text-shadow:0 -1px rgba(0,0,0,.3),0 0 5px #fbdffd,0 0 8px #6173f1;}}


.section_6-content {
  max-width: 1129px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 100px;
  width: 100%;
  &:before {
    content: "";
    background: url('../images/4tef.png') no-repeat center;
    width: 514px;
    height: 448px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.section_6-item {
  color: #000000;
  font-family: "Circe";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 170px;
  position: relative;
  &:nth-child(1){
    .before {
      content: "";
      background: url('../images/arr1.png') no-repeat center;
      width: 85px;
      height: 56px;
      position: absolute;
      left: 244px;
      bottom: -65px;
    }
    span {
      &:after {
        content: "";
        background: url('../images/f1.png') no-repeat center;
        width: 70px;
        height: 73px;
        position: absolute;
        z-index: -2;
        left: -21px;
        bottom: 0;
      }
    }
  
  }
  &:nth-child(2){
    span {
      &:after {
        content: "";
        background: url('../images/f2.png') no-repeat center;
        width: 58px;
        height: 74px;
        position: absolute;
        z-index: -2;
        right: 0px;
        top: -30px;
      }
    }
    
    .before {
      content: "";
      background: url('../images/arr2.png') no-repeat center;
      width: 89px;
      height: 45px;
      position: absolute;
      left: -28px;
      bottom: -82px;
    }
    
  }
  &:nth-child(3){
    span {
      &:after {
        content: "";
        background: url('../images/f3.png') no-repeat center;
         width: 63px;
        height: 73px;
        position: absolute;
        z-index: -2;
        right: 0px;
        top: -30px;
      }
    }
    
     .before {
      content: "";
      background: url('../images/arr3.png') no-repeat center;
      width: 94px;
      height: 37px;
      position: absolute;
      left: 236px;
      bottom: -75px;
    }
  }
  &:nth-child(4){
    margin-bottom: 0;
    span {
      &:after {
        content: "";
        background: url('../images/f4.png') no-repeat center;
        width: 70px;
        height: 73px;
        position: absolute;
        z-index: -2;
        right:-11px;
        top: -30px;
      }
    }
    .before {
      content: "";
      background: url('../images/arr4.png') no-repeat center;
      width: 97px;
      height: 33px;
      position: absolute;
      left: -64px;
      bottom: -65px;
    }
  }
/*  &:nth-child(5){
    padding-left: 109px;
    margin-top: 30px;
    span {
      &:after {
        content: "";
        background: url('../images/f5.png') no-repeat center;
        width: 84px;
        height: 79px;
        position: absolute;
        z-index: -2;
        right: 0px;
        top: -51px;
      }
    }
    .before {
      content: "";
      background: url('../images/arr5.png') no-repeat center;
      width: 64px;
      height: 78px;
      position: absolute;
      left: 410px;
      top: -59px;
    }
  }*/

  span {
    font-family: "Circe";
    font-weight: 700;
    position: relative;
    
    &:before {
      content: "";
      width: 24px;
      height: 24px;
      background-color: #ffc0c7;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
      z-index: -1;
    }
    
  }
  
  &:nth-child(even) {
    float: right;
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
  }
  
  &:nth-child(odd) {
   float: left;
    width: 52%;
  }
    &:nth-child(5){
    width: auto;
    margin-top: 30px;
    padding-right: 295px;
    float: right;
    span {
      &:after {
        content: "";
        background: url('../images/f6.png') no-repeat center;
        width: 63px;
        height: 73px;
        position: absolute;
        z-index: -2;
        right: 0px;
        top: -57px;
      }
    }
    .before {
      content: "";
      background: url('../images/arr6.png') no-repeat center;
      width: 64px;
      height: 78px;
      position: absolute;
      left: -76px;
      top: -60px;
    }
  }
}

.programs-item {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  padding-left: 107px;
  margin-top: 70px;
  text-align: left;
//  max-width: 852px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 157px;
  display: inline-block;
  &:before {
    content: "";
    width: 19px;
    height: calc(100% + 250px);
    background-image: linear-gradient(to top, #6173f1 0%, #e6e7ff 100%);
    position: absolute;
    top: -90px;
    left: 0;
    border-radius: 20px;
  }
  >li {
//    min-height: 643px;
    box-shadow: 4px 3px 46px rgba(0, 0, 0, 0.18);
background-color: #ffffff;
    border-radius: 24px;
    padding: 50px 95px;
    padding-left: 40px;
    margin-bottom: 37px;
    position: relative;
    max-width: 708px;
    .title {
      color: #000035;
      font-family: Pobeda;
      font-size: 33px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 20px;
    }
    p {
      color: #000000;
      font-family: Circe;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      margin-top: 30px;
      margin-bottom: 20px;
  
    }
    
    &.active {
      .before {
              box-shadow: 0px 0px 20px 4px rgba(33,51,176,.44);
        }
    }
  
    
    .before {
        width: 98px;
        height: 98px;
        background-image: linear-gradient(to top, #eb60f2 0%, #ffffff 100%);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -147px;
        transform: translateY(-50%);
        transition: .3s;
              box-shadow: 0px 0px 20px 4px rgba(33,51,176,0);
        
      }
    
   
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      &.r-list {
        li {
          font-weight: 400;
        }
      }
      li {
        padding-left: 15px;
        position: relative;
        margin-bottom: 20px;
        color: #000000;
        font-family: Circe;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        text-align: justify;
        &:before {
          content: "";
           width: 7px;
          height: 7px;
          background-color: #6173f1;
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: 0;
        }
        ul {
          margin-top: 20px;
          padding: 0;
          li {
            font-weight: 400;
            padding-left: 20px;
            &:before {
              content: "";
              width: 6px;
              height: 6px;
              background-color: #f0c8d6;
              border-radius: 50%;
              position: absolute;
              top: 7px;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.packages-content {
  max-width: 1038px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.packages {
  background-color: rgba(238, 238, 255, .55);
  padding: 60px 0;
}

.packages-item {
  max-width: 487px;
  box-shadow: 4px 3px 5px rgba(97, 115, 241, 0.75);
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  padding: 20px 75px 65px;
  .img {
    margin-bottom: 40px;
  }
  .title {
    color: #000000;
    font-family: Pobeda;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.5px;
    margin-bottom: 85px;
    span {
      color: #5466a1;
      font-family: Pobeda;
font-size: 36px;
      &.standard {
        color: #0036bc;
      }
    }
    
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 60px;
    text-align: left;
//    min-height: 215px;
    li {
      color: #2b2b2b;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
      letter-spacing: 0.9px;
      padding-left: 32px;
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: "";
        background: url('../icon/verified.svg') no-repeat center;
        width: 18px;
        height: 18px;
        background-size: 100%;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
  }
}

.price {
  margin-bottom: 55px;
  .old {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-decoration: line-through;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
  }
  
  .new {
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: 0.9px;
  }
}


.schedule {
  padding-bottom: 70px;
  padding-top: 70px;
  text-align: center;
  .h2-title {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: 70px;

  }
  table {
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    max-width: 934px;
    margin-left: auto;
    margin-right: auto;
    &:before {
      content: '';
      width: 4px;
      height: calc(100% + 35px);
      background-color: #c4b7df;
      position: absolute;
      top: -8px;
      left: 294px;
    }
    th {
      background-color: #eae9ee;
      padding: 15px 10px 9px;
      text-align: center;
      color: #2b2b2b;
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
      letter-spacing: 1.2px;
      &:first-child {
        font-weight: 400;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 294px;
        padding-left: 36px;
      }
      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
    td {
      color: #2b2b2b;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 1.2px;
      text-align: center;
      padding-top: 30px;  
      padding-bottom: 20px;
      border-bottom: 5px solid #eae9ee;
      position: relative;
      span {
        position: relative;
        &:before {
          content: "/";
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 1.2px;
          text-align: center;
        }
      }
      &:first-child {
        padding-left: 37px;
        text-align: left;
      }
    }
  }
  .active {
    td {
      font-weight: 900;
      color: #5c29cb;
    }
  }
}

.schedule-subtitle {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
  text-align: center;
}

.timer-title {
  text-align: left;
  color: #161616;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.37px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.graf-item {
  text-align: left;
}


.timer {
  div {
    display: inline-block;
    color: #000000;
    font-family: "Pobeda";
    font-size: 53px;
    font-weight: bold;
    line-height: 34.53px;
    padding: 20px 0;
    width: 75px;
    text-align: center;
    border-radius: 8px;
    margin: 0 10px;
    position: relative;
    letter-spacing: 4px;
    >span {
      color: #000 !important;
    }
    
  }
    .title {
      width: inherit;
      background: 0 0;
      padding: 0;
      margin: 0;
      position: absolute;
      font-size: 10px;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      color: #000000;
      font-size: 10px;
      font-weight: 400;
      line-height: 24px;
    }
  span {
    display: inline-block;
    color: #000;
    font-size: 53px;
    font-weight: bold;
       line-height: 34.53px;

  }
}

.timer1 {
  div {
    display: inline-block;
    color: #000000;
    font-family: "Pobeda";
    font-size: 32px;
    font-weight: bold;
    line-height: 34.53px;
    padding: 0px 0 20px;
    width: 40px;
    text-align: center;
    border-radius: 8px;
    margin: 0 10px;
    position: relative;
    letter-spacing: 4px;
    >span {
      color: #000 !important;
    }
    
  }
    .title {
      width: inherit;
      background: 0 0;
      padding: 0;
      margin: 0;
      position: absolute;
      font-size: 10px;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      color: #000000;
      font-size: 10px;
      font-weight: 400;
      line-height: 24px;
    }
  span {
    display: inline-block;
    color: #000;
    font-size: 32px;
    font-weight: bold;
       line-height: 34.53px;

  }
}



.speacker {
  padding: 80px 0;
}

.speacker-img {
  img {
    float: right;
  }
}

.speacker-item {
  .name {
    color: #000000;
    font-family: "Circe";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.74;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
    &:before {
      content: '';
      width: 150px;
      height: 4px;
      background-color: #fbdffd;
      position: absolute;
      bottom: 14px;
      left: -10px;
      z-index: -1;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
      padding-left: 35px;
      position: relative;
      margin-bottom: 20px;
      &:before {
        content: "";
        width: 10px;
        height: 9px;
        background-color: #c4b7df;
        position: absolute;
        top: 7px;
        left: 13px;
      }
      &:after {
        content: "";
        width: 10px;
        height: 9px;
        background-color: #947dc2;
        position: absolute;
        top: 4px;
        left: 10px;
      }
    }
  }
}

.speacker-photo {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  li {
    display: inline-block;
    margin: -2px;
    vertical-align: top;
    &:nth-child(1) {
      margin-top: 19px;
    }
    &:nth-child(2) {
      margin-top: 11px;
    }
    &:nth-child(4) {
      margin-top: 17px;
    }
    img {
      max-width: 100%;
      transition: .3s;
      
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.guarantee {
  padding: 60px 0 200px;
//  background: url('../images/guarantee.jpg') no-repeat center;
//  background-size: cover;
  position: relative;
  &:before {
    content: "";
    background: url('../images/qbg.png') no-repeat center;
    height: 1435px;
    width: 1920px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }
  .h2-title {
    margin-bottom: 90px;
  }
}

.guarantee-item {
  p {
    color: #000000;
    font-family: "Circe";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    margin-bottom: 30px;
  }
}

.pay {
  .header-img {
    img {
      float: left;
    }
  }
}

.greeting-item {
  h5 {
    color: #000000;
    font-family: Circe;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
    li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 15px;
      color: #000000;
      font-family: Circe;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      &:before {
        content: "";
        width: 11px;
        height: 2px;
        background-color: #6173f1;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 9px;
      }
    }
  }
  p {
    color: #000000;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 25px;
    &.large {
      color: #000000;
      font-family: Circe;
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-top: 10px;
    }
    span {
      display: block;
      font-size: 16px;
    }
    b {
      font-weight: 700;
    }
  }
}

.greeting-img {
  text-align: center;
  position: relative;
  &:before {
    content: "";
    background: url('../images/bg12345.png') no-repeat center;
    width: 874px;
    height: 865px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -170px;
    z-index: -1;
  }
}

.greeting {
  padding: 40px 0 55px;
}

.for_whom {
  padding: 55px 0;
background: url(../images/bg-whom.png) 47% 67% no-repeat;
}

.for_whom-img {
  position: relative;
  text-align: center;
  max-width: 345px;
  &:before {
    content: "";
    background: url('../images/fbg.png') no-repeat center;
    width: 481px;
    height: 363px;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.for_whom-item {
  color: #000000;
font-family: Circe;
font-size: 18px;
font-weight: 400;
line-height: 1.33;
  padding-left: 13px;
  position: relative;
  &:before {
    content: "";
    width: 6px;
    height: 97px;
    background-image: linear-gradient(to top, #fbdffd 0%, #6173f1 100%);
    position: absolute;
    top: 3px;
    left: 0;
  }
  &:first-letter {
    font-size: 30px;
    
  }
}

.bl-info {
  text-align: center;
  color: #000035;
  font-family: Circe;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 40px;
}

.wherefore {
  padding: 50px 0;
  .h2-title {
    margin-bottom: 15px;
  }
}

.wherefore-info {
  color: #000000;
  font-family: Circe;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.wherefore-item {
  margin-top: 70px;
text-align: center;
  .img {text-align: center;
  margin-bottom: 20px;
  }
  .title {
    color: #000000;
    font-family: Pobeda;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
    z-index: 3;
    &:after {
      content: "";
      height: 7px;
      width: calc(100% + 24px);
      background-color: #f9defd;
      position: absolute;
      top: 17px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
    li {
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
      padding-left: 26px;
      position: relative;
      margin-bottom: 20px;
      &:before {
        content: "";
        width: 9px;
        height: 9px;
        background-color: #6173f1;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
}

.faq {
  position: relative;
  padding: 50px 0;
}

.faq-item {
  background-color: #eefcfa;
  color: #000000;
font-family: Circe;
font-size: 16px;
font-weight: 400;
  padding: 20px 29px;
  margin-bottom: 20px;
  .title {
    font-family: "Circe";
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    margin-bottom: 25px;
  }
}

.popup-item {
  padding: 20px 35px;
  >.title {
    color: #0a0a35;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
  }
  p {
    color: #0a0a35;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  ul {
list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }
}

.popup-subtitle {
  color: #000000;
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 20px;
  b {
    font-weight: 700;
  }
  span {
    color: #fc120d;
  }
}

.mb10 {
  margin-bottom:10px;
}


.title-small {
  color: #0a0a48;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.mt50 {
  margin-top: 50px;
}

.timer-title_small {
  color: #00003f;
font-size: 18px;
font-weight: 700;
line-height: 1.2;
  margin-bottom: 10px;
}

.mt30 {
  margin-top: 30px;
}

.bottom-bonus {
  display: none;
}

.popup-img {
  img {
    max-width: 400px;
  }
}

.for_whom2 {
  text-align: center;
  .h2-title {
    display: inline-block;
    margin-bottom: 70px;
  }
  padding-bottom: 60px;
  padding-top: 60px;
}

.for_whom2-item {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  li {
    color: #000000;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 26px;
    position: relative;
    margin-bottom: 18px;
    &:before {
      content: "";
      width: 9px;
      height: 9px;
      background-color: #6173f1;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 0;
    }
  }
}

.for_whom2-img {
  min-height: 384px;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.wherefore2 {
  padding: 60px 0;
  .h2-title {
    margin-bottom: 70px;
  }
}

.wherefore2-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: #000000;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 28px;
    margin-bottom: 17px;
    position: relative;
    &:before {
      content: "";
      height: 20px;
      width: 20px;
      background: url('../images/star.png') no-repeat center;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
}

.title_bottom {
  color: #000000;
  font-family: Pobeda;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 42px;
  max-width: 844px;
  text-align: center;
  padding: 23px;
  margin-left: auto;
  margin-right: auto;
  
border: 4px solid #0d31a2;
}

.reviews {
  padding: 60px 0;
}
.reviews-item {
    padding: 15px;
    box-shadow: 4px 6px 11px 2px rgba(140, 154, 250, 0.28);
    background-color: #fff;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    height: calc(100% - 30px);
  img {
    width: 100%;
  }
}

.hide_review {
  display: none;
}



.popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
  bottom: 0;
  right: 0;
	display:none;
	text-align:center;
  z-index: 9999;
  padding: 5vw 2vw;
  
}

.popup_bg {
	background:rgba(0,0,0,0.8);
	position:fixed;
	z-index:1;
	height:100%;
	width:100%;
	top:0;
	left:0;
  bottom: 0;
  right: 0;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.video_1  {
  display: block;
  width:100%;
  text-align: center;
  margin-bottom: 40px;
}
.video_1  iframe {
    width: 100%;
  max-width: 878px;
    min-height: 185px;
    height: calc(100vw / 1.8);
    margin-bottom: 30px;
    max-height: 441px;
margin-left: auto;
  margin-right: auto;
}



.main_1 {
  padding: 60px 0;
}

.main_1-img {
  img {
    max-width: 100%;
  }
}

.main_1-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: #000000;
    font-family: Circe;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 38px;
    position: relative;
    &:before {
      content: "";
          width: 10px;
    height: 10px;
    background-color: #6173f1;
    top: 3px;
      border-radius: 50%;
      left: 0;
      position: absolute;
    }
  }
}

.main_1-info {
  color: #000000;
font-family: Circe;
font-size: 20px;
font-weight: 700;
line-height: 1;
  margin-top: 20px;
}

.main_1-content {
color: #000000;
font-family: Circe;
font-size: 24px;
font-weight: 700;
line-height: 1;
  margin-top: 40px;
  text-align: center;
}

.main_1-bottom {
  max-width: 960px;
  border: 4px solid #0d31a2;
  padding: 55px 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-family: Circe;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-top: 70px;
}
