@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
    .container {
//      max-width: 580px;

    }
    br {
      display: none;
    }

    .speaker-img {
      text-align: center;
      display: block;
    }
    
    
  }
}